.idea/.name
.idea/KendoSchedulerBackgroundEvents.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
src/.idea/.name
src/.idea/encodings.xml
src/.idea/misc.xml
src/.idea/modules.xml
src/.idea/src.iml
src/.idea/workspace.xml
